body{
    font-family: 'Lato', sans-serif;

}
button{
    font-family: 'Lato', sans-serif;
    cursor: pointer;
}
p{
    margin: 0;
}
@font-face {
    font-family: 'eurostile';
    src: url(/eurostile-2/eurostile.TTF);
}
@font-face {
    font-family: 'EuroStyle Normal';
    src: url(/eurostile-2/EuroStyle\ Normal.ttf);
}
@font-face{
    font-family: 'lucida';
    src: url(/lucida-sans/LSANS.TTF) ;
}

